@charset "utf-8";
/* 
   @名称: base
   @功能: 重设浏览器默认样式
*/

/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html{color:#000;background:#fff;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;}

/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {margin:0;padding:0;}

/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}


/* 要注意表单元素并不继承父级 font 的问题 */
body,button,input,select,textarea{font:12px/1.5 arial,\5b8b\4f53;}
input,select,textarea{font-size:100%;}

/* IE bug fixed: th 不继承 text-align*/
th{text-align:inherit;}
fieldset,img{border:0;}

/* ie6 7 8(q) bug 显示为行内表现 */
iframe{display:block;}

/* 去掉 firefox 下此元素的边框 */
abbr,acronym{border:0;font-variant:normal;}
a:focus{outline:none;}

/* 一致的 del 样式 */
del {text-decoration:line-through;}

address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:500;}

/* 去掉列表前的标识, li 会继承 */
ol,ul {list-style:none;}

/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,th {text-align:left;}

/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500;
}

/* 清理浮动 */
.fn-clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;
}
.fn-clear {zoom:1; /* for IE6 IE7 */}

/* 隐藏, 通常用来与 JS 配合 */
.fn-hide {display:none;}

/* 设置内联, 减少浮动带来的bug */
.fn-left {float:left;}
.fn-right {float:right;}

/* 链接默认状态  */
a{color:#333; text-decoration:none;}  /* 默认不显示下划线，保持页面简洁 */
a:hover{text-decoration:underline;}   /* 让链接在 hover 状态下显示下划线 

/* 链接-灰色*/
.a_black {color:#000;} .a_gray_000:hover {color:#399; text-decoration:underline;}        /* 黑色 */
/* 链接-灰色*/
.a_gray_333 {color:#333;} .a_gray_333:hover {color:#ff3366; text-decoration:underline;}   /* 常用黑色 */
.a_gray_666 {color:#666;} .a_gray_666:hover {color:#ff3366; text-decoration:underline;}   /* 黑色再次之 */
.a_gray_999 {color:#999;} .a_gray_999:hover {color:#ff3366; text-decoration:none;}   /* 黑色再次之2 */
.a_gray_ccc {color:#ccc;} .a_gray_ccc:hover {color:#ff3366; text-decoration:underline;}      /* 常用灰色 */
/* 链接-白色*/
.a_white {color:#fff;}    .a_white:hover {color:#399;}
/* 链接-蓝色*/
.a_blue {color:#06c;}     .a_blue:hover {color:#399;}
/* 链接-粉色*/
.a_pink  {color:#F03B85;}
/* 链接-红色*/
.a_red  {color:#f00;}

/* 链接-大小  */
.f_12 {font-size:12px;}
.f_14 {font-size:14px;}
.f_16 {font-size:16px;}
.f_18 {font-size:18px;}
.f_20 {font-size:20px;}

/* 链接-下划线  */
.a_line {text-decoration:underline;}
.a_line_none {text-decoration:none;}

/* 字体  */
.yh {font-family:"Microsoft Yahei", "SimHei";}

/* 文字颜色  */
.f_black {color:#000;}      /* 黑色 */
.f_gray_333 {color:#333;}    /* 常用黑色 */
.f_gray_666 {color:#666;}    /* 黑色再次之 */
.f_gray_999 {color:#999;}    /* 黑色再次之2 */
.f_gray_ccc {color:#ccc;}     /* 常用灰色 */
.f_white {color:#fff;}         /* 白色 */
.f_blue {color:#06c;}          /* 蓝色 */
.f_pink  {color:#f36;}    /* 粉色 */
.f_red  {color:#f00;}    /* 红色 */

/* 文字大小  */
.f_size_12 {font-size:12px;}
.f_size_14 {font-size:14px;}
.f_size_16 {font-size:16px;}
.f_size_18 {font-size:18px;}
.f_size_20 {font-size:20px;}
.f_size_22 {font-size:22px;}

.f10 { font-size: 10px }
.f12 { font-size: 12px }
.f14 { font-size: 14px }
.f16 { font-size: 16px }
.f18 { font-size: 18px }
.f20 { font-size: 20px }
.f22 { font-size: 22px }
.f24 { font-size:24px }
.f26 { font-size:26px }
.f30 { font-size:30px }
.fb { font-weight: 700 }
.fn { font-weight: 400 }
.t2 { text-indent: 2em }
.lh20 { line-height:20px }
.lh22 { line-height:22px }
.lh24 { line-height:24px }
.lh26 { line-height:26px }
.lh30{line-height:30px}
.lh36{line-height:36px}
.lh40{line-height:40px}
.unl { text-decoration: underline }
.no_unl { text-decoration: none }
/*POSITION
-------------------------------------------------------------- */
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
.bc { margin-left: auto; margin-right: auto }
.fl { float: left; display: inline }
.fr { float: right; display: inline }
.vm { vertical-align: middle; }
.vt { vertical-align: top }
.pr { position: relative }
.pa { position: absolute }
.abs-right { position: absolute; right: 0 }
.abs-left { position: absolute; left: 0 }
.hidden { visibility: hidden }
.none { display: none }
/*MARGIN / PADDING
-------------------------------------------------------------- */
.m5 { margin: 5px }
.m10 { margin: 10px }
.m15 { margin: 15px }
.m20 { margin: 20px }
.m25 { margin: 25px }
.m30 { margin: 30px }
.m50 { margin: 50px }
.mt5 { margin-top: 5px }
.mt8 { margin-top: 8px }
.mt10 { margin-top: 10px }
.mt15 { margin-top: 15px }
.mt20 { margin-top: 20px }
.mt25 { margin-top: 25px }
.mt30 { margin-top: 30px }
.mt35 { margin-top: 35px }
.mt38 { margin-top: 38px }
.mt40 { margin-top: 40px }
.mt50 { margin-top: 50px }
.mr5 { margin-right: 5px }
.mr10 { margin-right: 10px }
.mr15 { margin-right: 15px }
.mr20 { margin-right: 20px }
.mr25 { margin-right: 25px }
.mr30 { margin-right: 30px }
.mr50 { margin-right: 50px }
.mb5 { margin-bottom: 5px }
.mb10 { margin-bottom: 10px }
.mb15 { margin-bottom: 15px }
.mb20 { margin-bottom: 20px }
.mb25 { margin-bottom: 25px }
.mb30 { margin-bottom: 30px }
.mb40 { margin-bottom: 40px }
.mb50 { margin-bottom: 50px }
.ml5 { margin-left: 5px }
.ml10 { margin-left: 10px }
.ml15 { margin-left: 15px }
.ml20 { margin-left: 20px }
.ml25 { margin-left: 25px }
.ml30 { margin-left: 30px }
.ml50 { margin-left: 50px }
.p5 { padding: 5px }
.p10 { padding: 10px }
.p15 { padding: 15px }
.p20 { padding: 20px }
.p25 { padding: 25px }
.p30 { padding: 30px }
.p50 { padding: 50px }
.pt5 { padding-top: 5px }
.pt8 { padding-top: 8px }
.pt10 { padding-top: 10px }
.pt15 { padding-top: 15px }
.pt20 { padding-top: 20px }
.pt25 { padding-top: 25px }
.pt30 { padding-top: 30px }
.pt35 { padding-top: 35px }
.pt40 { padding-top: 40px }
.pt43 { padding-top: 43px }
.pt50 { padding-top: 50px }
.pt75 { padding-top: 75px }
.pr5 { padding-right: 5px }
.pr10 { padding-right: 10px }
.pr15 { padding-right: 15px }
.pr18 { padding-right: 18px }
.pr20 { padding-right: 20px }
.pr25 { padding-right: 25px }
.pr30 { padding-right: 30px }
.pr50 { padding-right: 50px }
.pb5 { padding-bottom: 5px }
.pb10 { padding-bottom: 10px }
.pb15 { padding-bottom: 15px }
.pb20 { padding-bottom: 20px }
.pb25 { padding-bottom: 25px }
.pb30 { padding-bottom: 30px }
.pb35 { padding-bottom: 35px }
.pb40 { padding-bottom: 40px }
.pb45 { padding-bottom: 45px }
.pb50 { padding-bottom: 50px }
.pb160{ padding-bottom: 160px }
.pb150{ padding-bottom: 150px }
.pb300{ padding-bottom: 300px }
.pl5 { padding-left: 5px }
.pl10 { padding-left: 10px }
.pl15 { padding-left: 15px }
.pl18{ padding-left:18px}
.pl20 { padding-left: 20px }
.pl25 { padding-left: 25px }
.pl30 { padding-left: 30px }
.pl35 { padding-left: 35px }
.pl40 { padding-left: 40px }
.pl50 { padding-left: 50px }
.pl60 { padding-left: 60px }
.pl90 { padding-left: 90px }
.pl160{ padding-left:160px;}
.in-line{ _display:inline;}