@charset "utf-8";
/* Common */
.fontYH{font-family:\5fae\8f6f\96c5\9ed1;font-family:"Microsoft YaHei" !important;}
.fn-left,.fn-right{display: inline;}
.Content{width: 990px;margin: 0 auto 30px;padding-top: 86px;_padding-top: 20px;}
/* Header */
.HeaderWrapper{position:fixed;left:0;top:0;width: 100%;height: 62px;border-bottom: 4px solid #ff4f86;background: #fff;z-index: 999;_position:relative;}
.Header{width: 1000px;margin: 0 auto;}
.HeaderNav{margin:19px 0 0 0;}
.HeaderNav li{position:relative;float: left;display: inline;margin-left:45px;}
.HeaderNav li a{display: inline-block;font-size: 16px;color: #333;}
.HeaderNav li a:hover{color:#ff4f86;text-decoration: none;}
.HeaderNav li.tab-selector-status a{height:43px;_height:44px;background: url(../../img/common/tag_selector.gif) no-repeat;background-position: center 37px;_background-position: center 38px;text-decoration: none;}
.HeaderNav li.tab-selector-status a.on{color: #ff4f86;}
.HeaderNav li.navDownHt{position:relative;}
.HeaderNav li.navDownHt .navJT{position:absolute; left:20px; top:-9px; background:url(../../img/common/nav_DownHt.jpg) no-repeat; width:17px; height: 9px; z-index:100;}
.HeaderNav li.navDownHt .navHtBd{position:absolute; left:-17px; top:31px; width: 60px; height: 92px; background:#fff; border:1px solid #e5e5e5; z-index: 99; display:none;}
.HeaderNav li.navDownHt .navHtBd a{ display:block; height:30px; line-height: 30px; font-size:14px; padding:0 0 0 10px;}


.navNew{position:absolute;top:-10px;left:30px;display: block;width: 33px;height:25px;background: url(../../img/common/new.png) no-repeat;}
.HeaderRight{margin-top: 22px;}
.HeaderRight a{color: #666;}
.HeaderRight a:hover{color: #f36;text-decoration:none;}
.HeaderRight li{float: left;display: inline;margin-left: 20px;}
.HeaderRight li.HeaderRightFirstLi{margin-left: 20px;}
#headerSetUp .menu-hd{display:block;position:relative;width: 48px;height: 20px;padding:2px 22px 0 10px;z-index:10002;cursor:pointer;border: 1px solid #dcdcdc;}
#headerSetUp .menu-bd{display:none;position:absolute;top: 21px;right:-30px;width:84px;z-index:10001;background:#fff;}
#headerSetUp .menu-bd-panel{width:80px;}
#headerSetUp .hover{display: block;}
#jybind .menu-hd{display:block;position:relative;width: 48px;height: 20px;padding:2px 22px 0 10px;z-index:10002;cursor:pointer;border: 1px solid #dcdcdc;}
#jybind .menu-bd{display:none;position:absolute;top: 21px;right:-30px;width:140px;z-index:10001;background:#fff;}
#jybind .menu-bd-panel{width:140px;}
#jybind .hover{display: block;}
/* #jybind .SD-tipbox{height:32px;} */
#jybind .jybindP{width: 136px;height:30px;line-height:30px;}
#jybind .zj_g1{width:128px; margin:0; padding-left:10px; display:block;}
#jybind a:hover.zj_g1{ color:#666;}
#jybind .zj_g2{position:absolute; top:0px; right:10px;}
#jybind .jybindPLeft{margin-left: 10px;_margin-left: 5px;width: 62px;}
#jybind .jybindPLeft a:link,#jybind .jybindPLeft a:visited,#jybind .jybindPLeft a:hover{color:#666;text-decoration:none;}
#jybind .jybindPRight{margin: 10px 0 0 20px;}
#jybind .jybindPRight a{display: block;width: 24px;height:14px;line-height:14px;text-align:center;background:#f69;color:#fff;border-radius:3px;}
#jybind .jybindPRight a:hover{text-decoration:none;color:#fff;}
#jyunbind .menu-hd{display:block;position:relative;width: 48px;height: 20px;padding:2px 22px 0 10px;z-index:10002;cursor:pointer;border: 1px solid #dcdcdc;}
#jyunbind .menu-bd{position:absolute;top: 21px;right:-14px;width:238px;z-index:10001;background:#fff;}
#jyunbind .menu-bd-panel{width:140px;}
#jyunbind .hover{display: block;}
/* #header #jyunbind .SD-tipbox{height:49px;} */
#header #jyunbind .SD-tipbox{width:236px;background: #fff7f7;border: 1px solid #f3d9d9;z-index: 6;padding: 0; overflow:hidden;}
#header #jyunbind .SD-tipbox .SD-tipbox-direction em{color: #f3d9d9;}
#header #jyunbind .SD-tipbox .SD-tipbox-direction span{color: #fff7f7;}
#header #jyunbind .sjArea{width: 238px;}
#jyunbind .jyTips{position:relative;width: 236px;height:49px;}
#jyunbind .jyLight{position:absolute;left:0;top:0;width: 40px;height: 49px;}
#jyunbind .jyunbindClose{position:absolute;right:5px;top:5px;display: block;width: 7px;height: 6px;background: url(../../img/common/jyClose_btn.gif) no-repeat;text-indent:-9999px;cursor: pointer;}
#jyunbind .jybindP{position:absolute;left:48px;top:6px;top:8px\0;*top:8px;_top:6px;width: 168px;}
#jyunbind .jybindP a:link,#jyunbind .jybindP a:visited,#jyunbind .jybindP a:hover{color:#f36;text-decoration:none;}
.HeaderRight .phoneDIcon{display:block;width: 11px;height: 16px;background: url(../../img/common/phone_icon.gif) no-repeat;overflow: hidden;}
.HeaderRight .phoneDIcon:hover{background-position: 0 -17px; -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); rotation:360deg;-moz-transition: -moz-transform 0.3s ease; -webkit-transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease;}

.HeaderRight .tzIcon{display:block;width: 16px;height: 16px;background: url(../../img/common/tz_icon.gif) no-repeat;overflow: hidden;}
.HeaderRight .tzIcon:hover{background-position: 0 -16px;}

.HeaderRight .zhIcon{display:block;width: 16px;height: 16px;background: url(../../img/common/zh_icon.gif) no-repeat;overflow: hidden;}
.HeaderRight .zhIcon:hover{background-position: 0 -16px; -webkit-transform:rotate(120deg); -moz-transform:rotate(120deg); rotation:120deg;-moz-transition: -moz-transform 0.3s ease; -webkit-transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease;}
.HeaderRight .tcIcon{display:block;width: 16px;height: 16px;background: url(../../img/common/tc_icon.gif) no-repeat;overflow: hidden;}
.HeaderRight .tcIcon:hover{background-position: 0 -16px;}
.HeaderRight .jybindIcon{display:block;width: 16px;height: 16px;background: url(../../img/common/jybind_icon.gif) no-repeat;overflow: hidden;}
.HeaderRight .jybindIcon:hover{background-position: 0 -16px;}
.HeaderRight .jyunbindIcon{display:block;width: 16px;height: 16px;background: url(../../img/common/jyunbind_icon.gif) no-repeat;overflow: hidden;}
.HeaderRight .jyunbindIcon:hover{background-position: 0 -16px;}
.HeaderRight .havemessage{position:absolute;top:-4px;left:10px;display:block;width:9px;height:9px;background: url(../../img/common/have_icon.gif) no-repeat;}

.notice{position: relative;z-index: 1000;margin-right: 20px;}
.notice-hd{display: block;z-index:1;cursor:pointer;position:relative;height: 20px;width: 16px;}
.notice:hover .notice-hd{display: block;}
#notice .menu-hd{display:block;position:relative;width: 48px;height: 20px;padding:2px 22px 0 10px;z-index:10002;cursor:pointer;border: 1px solid #dcdcdc;}
#notice .menu-bd{display:none;position:absolute;top: 21px;right:-30px;width:140px;z-index:10001;background:#fff;}
#notice .menu-bd-panel{width:140px;}
#notice .hover{display: block;}
/* #notice .SD-tipbox{height:92px;} */
.NickName{margin-right: 20px;}
.NickName a{color:#666;text-decoration:none;}
.NickName a:hover{color:#f36;}
/*
.notice-hd b{border-right:4px solid #fff;border-top:4px solid #666;border-left:4px solid #fff;border-bottom:4px solid #fff;font-size:0;right:14px;top: 9px;top: 8px\9;width: 0px;height: 0px;line-height: 0;position:absolute;-webkit-transition:-webkit-transform .2s ease-in;-moz-transition:-moz-transform .2s ease-in;-o-transition:-o-transform .2s ease-in;transition:transform .2s ease-in;}
.notice:hover .notice-hd b{border-left-color:#fff; FILTER: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);border-bottom-color:#fff;border-top-color:#666;top:8px;top:4px\9;border-right-color:#fff; -moz-transform:rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;-o-transform:rotate(180deg);-o-transform-origin:50% 30%;transform:rotate(180deg);transform-origin:50% 30%;filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
#notice .menu-hd b{position:absolute;right:10px;top: 9px;top: 8px\9;width: 0px;height: 0px;line-height: 0;border-right:4px solid #fff;border-top:4px solid #666;border-left:4px solid #fff;border-bottom:4px solid #fff;font-size:0;-webkit-transition:-webkit-transform .2s ease-in;-webkit-backface-visibility:hidden;-moz-transition:-moz-transform .2s ease-in;-o-transition:-o-transform .2s ease-in;transition:transform .2s ease-in;}
#notice .hover b{top:8px;top:4px\9;border-left-color:#fff;filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);border-bottom-color:#fff;border-top-color:#666;border-right-color:#fff;-moz-transform:rotate(180deg);-moz-transform-origin:50% 30%;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 30%;-o-transform:rotate(180deg);-o-transform-origin:50% 30%;transform:rotate(180deg);transform-origin:50% 30%;filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
*/
.noticeUl{width: 136px;padding: 0;margin: 0 auto;z-index: 10003;position:relative;}
.noticeUl li{width:136px;height: 30px;line-height: 30px;margin: 0;padding: 0;background:#fff;}
.noticeUl li.LiHover{background:#ffecf1;cursor: pointer;}
.noticeUl li span{display: block;}
.noticeUlb{width: 80px;padding: 1px;margin: 0 auto;z-index: 10003;position:relative;}
.noticeUlb li{width:80px;height: 30px;line-height: 30px;margin: 0;padding: 0;background:#fff;text-align:center;}
.noticeUlb li.LiHover{background:#ffecf1;cursor: pointer;}
.noticeUlc{width: 136px;padding: 1px;margin: 0 auto;z-index: 10003;position:relative;}
.noticeUlc li{width:136px;height: 30px;line-height: 30px;margin: 0;padding: 0;background:#fff;}
.noticeUlc li.LiHover{background:#ffecf1;cursor: pointer;}
.noticeUlc li span{display: block;}
.HeaderRight .noticeUlb li.LiHover a{color:#666;}
.noticeLiLeft{margin-left: 10px;_margin-left: 5px;width: 62px;}
.noticeLiRight{margin: 10px 0 0 20px;}
.noticeLiLeft a:link,.noticeLiLeft a:visited,.noticeLiLeft a:hover{color:#666;}
.noticeLiLeft a:hover{text-decoration:none;}
.noticeLiRight a{display: block;width: 24px;height:14px;line-height:14px;text-align:center;background:#f69;color:#fff;border-radius:3px;}
.noticeLiRight a:hover{text-decoration:none;color:#fff;}
.noticeUl label{cursor: pointer;font-family: \5b8b\4f53;}
.headermessageArea1{position:absolute;top:66px;right:100px;width: 140px;border: 1px solid #bbb;background:#fff;}
.headermessageArea1 .messageCntLeft{margin-left: 10px;width: 62px;}
.headermessageArea1 .messageCntLeft a:link,.headermessageArea1 .messageCntLeft a:visited,.headermessageArea1 .messageCntLeft a:hover{color:#666;text-decoration:none;}
.headermessageArea1 .messageCntRight{margin:10px 25px 0 0;}
.headermessageArea1 .messageCntRight a:link,.headermessageArea1 .messageCntRight a:visited,.headermessageArea1 .messageCntRight a:hover{display: block;width: 24px;height:14px;line-height:14px;text-align:center;background:#f69;color:#fff;border-radius:3px;text-decoration:none;}
.headermessageArea2{position:absolute;top:66px;right:100px;width: 208px;border: 1px solid #bbb;background:#fffde9;}
.headermessageArea2 .messageclose{display:block;margin:3px 4px 0 0;background: url(../../img/common/messageclose_icon.gif) no-repeat;width: 8px;height: 8px;text-indent:-9999px;overflow: hidden;cursor: pointer;}
.headermessageArea2 .messageCnt{margin: 0 0 11px 0;}
.headermessageArea2 .messageCntLeft{margin-left: 10px;}
.headermessageArea2 .messageCntRight{margin-right: 12px;}
.headermessageArea2 .messageCntRight a{color:#666;}
.headermessageArea2 .messageCntRight a:hover{color:#f36;text-decoration:none;}
.headermessageArea2 .messageCntRight a span{color:#f36;}
/* footer */
.FooterWrapper{width: 100%;color: #666;}
.Footer{width: 990px;margin: 0 auto;padding: 28px 0;}
.FooterNav a:link,.FooterNav a:visited{margin: 0 10px;color: #666;}
.FooterNav a:hover{color: #f36;text-decoration:none;}
/*nextpage*/
.nextpage{ height:23px; line-height:23px;}
.next_btn{width:100%; text-align:center;}
.next_btn a{ width:28px; overflow:hidden; display:inline-block; border:1px solid #ccc; background:#FFF; color:#666; margin-right:5px; text-decoration:none; }
.next_btn a:hover{border:1px solid #f69; background:#fff; color:#f36;text-decoration:none;}
.next_btn a.cur,.next_btn a.cur a{ border:1px solid #f69; background:#ffe3ec; color:#f36;}
.nextpage_prev_ico,.nextpage_next_ico{ position:absolute;top:8px; width:4px; height:7px;}
.nextpage_prev_ico{ background:url(../../img/common/nextpage_ico1.png) no-repeat; left:3px;}
.nextpage_next_ico{ background:url(../../img/common/nextpage_ico2.png) no-repeat; right:3px;}
.point,.point:hover{ width:14px!important; border:none!important; background:none!important; color:#666!important;}
.nextpage_w{ width:48px!important;}
/* ==S sanjiao */
#header .sjArea{position:relative;width: 140px;margin-top: 8px;}
#header .SD-tipbox{width:138px;background: #fff;border: 1px solid #e5e5e5;z-index: 6;padding: 1px; overflow:hidden;}
#header .SD-tipbox .SD-tipbox-direction{position: absolute;}
#header .SD-tipbox .SD-tipbox-direction em, .SD-tipbox .SD-tipbox-direction span {height: 19px;width: 17px;font-family: Simsun;font-size: 16px;line-height: 21px;overflow: hidden;position: absolute;}
#header .SD-tipbox .SD-tipbox-direction em{color: #e5e5e5;}
#header .SD-tipbox .SD-tipbox-direction span{color: #fff;}
#header .SD-tipbox .SD-tipbox-up{left: 50%;margin-left:-8px;top:-10px;top:-10px\0;top:-9px\9\0;*top:-11px;_top:-10px;}
#header .SD-tipbox .SD-tipbox-up span{top:1px;}
#header .SD-tipbox .SD-tipbox-down{left: 50%;margin-left:-8px;bottom:9px;}
#header .SD-tipbox .SD-tipbox-down span{top:-1px;}
#header .SD-tipbox .SD-tipbox-right{top: 50%;margin-top:-8px;right:7px;}
#header .SD-tipbox .SD-tipbox-right span{left:-1px;}
#header .SD-tipbox .SD-tipbox-left{top: 50%;margin-top:-8px;left:-8px;}
#header .SD-tipbox .SD-tipbox-left span{left:1px;}

#header .sjAreab{position:relative;width: 84px;margin-top: 8px;}
#header .SD-tipboxb{width:82px;}
/* ==E sanjiao */

/*selectBox*/
#prov,#town {width:90px; float:left; position:relative;}
#town { padding-left:10px;}
.selectBox {width:380px; position:absolute;top:0px; left:0; border:1px solid #d6d6d6; background:#FFF; overflow:hidden;}
.selectBox div { overflow:hidden; padding-right:10px;}
.selectBox iframe{ position: absolute;top:0px; left:0px; z-index: -1;border:none;filter: mask();width: 335px;height:266px;}
.selectBox h3 {font-size:14px; font-weight:bold; color:#666;}
.selectBox a {color:#333; text-decoration:underline; font-size:12px;white-space:nowrap; }
.selectBox a:hover{ color:#f36; text-decoration:none;}
.text_btn2{ width:87px; height:20px; line-height:20px; cursor:pointer; color:#666; padding-left:3px;}
/* S backtop */
.backtop{position:fixed;bottom: 100px;_position: absolute;_bottom: auto;}
.backtop a{display: block;width: 48px;height:48px;background:url(../../img/common/backtop.png) no-repeat;text-indent:-9999px;overflow: hidden;}
.backtop a:hover{background-position:0 -48px;}

/* E backtop */

/* S QRCode */
.QRCode{position:fixed; top: 120px; _position: absolute; _bottom: auto; z-index:3;}
.QRCode .QRbg{ width: 119px;height:177px;background:url(../../img/common/qrCode_bg.jpg) no-repeat; overflow: hidden; display: block;}
.QRCode .htbg{ width: 119px;height:108px;background:url(../../img/common/htCode_bg.jpg) no-repeat; overflow: hidden; display: block; margin:0 0 10px;}
.QRCode a{margin:0 auto; display:block; text-align: center; text-decoration: underline;}
.QRCode a:hover{ color:#ff2e63; text-decoration: none;}
.QRCode span{ cursor:pointer; position:absolute; right:1px; top:0px; display:block; background:url(../../img/common/icon_x1.gif) center center no-repeat; width:20px; height:20px;}
/* E QRCode */

/* S layer */
.layerWrapper{position:absolute;z-index: 100;}
.layer{position:relative;width: 318px;height:166px;padding: 20px 20px 0;background:#fff;border:4px solid #dcdcdc;border-radius: 3px;}
.popTriangleLeftTop{position:absolute;top:-12px;left:26px;width:18px;height:12px;background:url(../../img/common/pop_triangle.png) no-repeat;}
.popTriangleLeftBottom{position:absolute;top:186px;left:26px;width:18px;height:12px;background:url(../../img/common/pop_triangleb.png) no-repeat;}
.popTriangleRightTop{position:absolute;top:-12px;right:26px;width:18px;height:12px;background:url(../../img/common/pop_triangle.png) no-repeat;}
.popTriangleRightBottom{position:absolute;top:186px;right:26px;width:18px;height:12px;background:url(../../img/common/pop_triangleb.png) no-repeat;}
.layerTop{padding-bottom:10px;border-bottom:1px solid #f2f2f2;}
.layerTopImg{width: 58px;height:58px;border:1px solid #ccc;}
.layerTopP{margin-top: 2px;color:#666;}
.layerBottom{padding-top: 10px;width: 318px;}
.layerBottomP{width: 318px;height:36px;overflow: hidden;}
.interest{position:relative;width: 52px;margin:0 auto;}
.interest a{background:#fff url(../../img/usercp/like_icon.png) no-repeat 6px center;color:#999;}
.interest a:hover{background:#edeaff url(../../img/usercp/like_icon.png) no-repeat 6px center;}
.intersetTips{position:absolute;top:-55px;left:-42px;width:130px;height:55px;z-index: 2;display: none;}
#layerWrapper .haveConcern{position:relative;width:52px;margin:10px auto;display: block;z-index: 12;}
#layerWrapper .haveConcern a{text-indent:0;color:#999;background:#fdfdfd;text-align:center;cursor:pointer;}
.cancelTips{position:absolute;top:-55px;left:-52px;width:155px;height:55px;z-index: 2;display: none;}
.layer .userName a{color:#666;text-decoration:none;}
.layer .userName a:hover{color:#f36;}
.layer .loadingb{margin: 50px auto;width:112px;background: url(../../img/home/loading.gif) no-repeat left center;padding-left: 26px;}
/* E layer */
/* btn */
.btn8030 a,.btn6025 a,.btn5020 a,.btn4020 a,.btn6025Disabled a{border-radius: 3px;}
.btn8030{width: 80px;height:30px;line-height:30px;text-align:center;}
.btn8030 a{display:block;width: 80px;height:30px;color:#fff;text-decoration:none;background:#5a81cc;}
.btn8030 a:hover{text-decoration:none;background:#7397df;}
.btn6025{width: 60px;height:25px;line-height:25px;text-align:center;}
.btn6025 a{display:block;width: 60px;height:25px;color:#fff;text-decoration:none;background:#f69;background: -webkit-gradient(linear, left top, left bottom , from(#ff4f86), to(#ff5187));background: -moz-linear-gradient(top, #ff4f86, #ff5187);border: 1px solid #f9f9f9;}
.btn6025 a:hover{text-decoration:none;background:#ff4e89;background: -webkit-gradient(linear, left top, left bottom , from(#fd457f), to(#fe4a82));background: -moz-linear-gradient(top, #fd457f, #fe4a82);border: 1px solid #e73a70;box-shadow:0 1px 1px #a6a6a6;}
.btn5020 a{display: block;width: 50px;height:20px;line-height: 20px;border: 1px solid #e3e3e3;text-indent:22px;}
.btn5020_1 a{display: block;width: 50px;height:20px;line-height: 20px;}
.btn5020 a:hover{border: 1px solid #e1e1e1;text-decoration:none;}
.btn5020_1 a,.btn5020_1 a:hover,.btn5020_1 a:link{cursor:pointer;}
.btn4020{width: 40px;height:20px;line-height:20px;text-align:center;}
.btn4020 a{display:block;width: 40px;height:20px;text-decoration:none;}
.btn4020 a:hover{text-decoration:none;}
.btn6025Disabled{width: 60px;height:25px;line-height:25px;text-align:center;}
.btn6025Disabled a{display:block;width: 60px;height:25px;color:#fff;text-decoration:none;background:#bebebe;border: 1px solid #f9f9f9;cursor: default;}
/* layout */
.leftsection,.rightsection{width: 708px;margin-bottom:10px;background:#fff;border: 1px solid #e5e5e5;}
.rightsection{width:268px;}
.rightsectionTitle{width: 228px;margin: 15px auto 5px;border-bottom: 1px solid #eee;}
/* other zq/2013/03/29 */
.other_box li{ float:left;color:#999;}
.other_box li a{ color:#999; text-decoration:none;}
.other_box li a:hover{ color:#666; text-decoration:none;.}
.other_box li img{ vertical-align:middle; margin-right:3px;}
/* attention */
.attentionazx{position:relative;width: 228px;height:25px;margin: 20px auto;}
.attentionazxLeft{position:absolute;left:0;top:0;}
.attentionazxRight{position:absolute;right:0;top:0;}
.attentionwx{position:absolute;top:25px;right:0;display: none;}

.logo_img{width: 170px; height: 62px;}

.colorblue{color:#3d97b9;}
.colorred{color: #ff0000;}
.head{padding: 20px 0;}
.border{border:1px solid #eee;}
.border_bb_dashed{border-bottom: 1px dashed #ccc;}
.border_bt_dashed{border-top: 1px dashed #ccc;}
.steps{line-height: 38px;border-bottom:1px solid #e75f72}
.zhuce_box .inputwidth{width: 228px;padding:4px 0 4px 10px;font-size: 12px;line-height: 20px; height: 20px;}
.mobile_code{width:62px;padding-left:10px;position: absolute;left: 0;top: 12px}
.btngetcode{font-size: 12px;line-height: 28px;background-color: #ccc;position: absolute;right: 22px;top: 12px;padding:0 6px;}
.btngetcode:hover{text-decoration: none;}
input,select,option{font-family: "Microsoft YaHei"}
#show_province,#show_city{height: 20px;}
.btn_tj{display: inline-block;background-color: #f35667;font-size: 24px;padding: 10px 74px;color: #fff}
.btn_tj:hover{text-decoration: none;}
.nxdb_box .tip3{position: relative;top: 0;margin-left: 6px;}